# Raw & reference data (keep out of git)
data/raw/*
data/reference/*
!data/raw/.gitkeep
!data/reference/.gitkeep
*.fastq.gz
*.fq.gz
*.bam
*.bai
*.sam
*.cram
*.crai
*.vcf
*.vcf.gz
*.tbi
*.fa
*.fai
*.gtf
*.gff
*.dict
*.bt2
*.bwt
*.sa
*.amb
*.ann
*.pac
*.idx
*.h5
*.hdf5

# Workflow engine caches
.snakemake/
.nextflow*
work/

# Analysis scratch
analysis/*
!analysis/.gitkeep

# Notebooks & R
.ipynb_checkpoints/
.Rproj.user/
.Rhistory

# Python
__pycache__/
*.pyc
.venv/
.env/
.envs/

# OS
.DS_Store
Thumbs.db
